[2018-01-16 20:04] michzimny opened #1 "Google authentication causes an error"
Trying to authenticate to https://learn.test.up2university.eu/login/index.php, clicking "Login via SAML2". I choose Google icon. I get "Choose an account" screen from Google. I select an email, and it ends up with an Unhandled exception. The same problem appears also when I'm not earlier authenticated to Google - then the error appears after choosing Google icon and authenticating to Google.

Addi

[2018-01-17 11:01] foobarable commented on #1
So it looks like google changed the attributes they are sending out. We have to adjust our mappings accordingly.

[2018-01-17 11:05] foobarable commented on #1
I think we found the issue

[2018-01-17 13:10] foobarable commented on #1
Can you test again?

[2018-01-17 13:36] michzimny commented on #1
It's still the same.
Error tracking codes I got now: 208e009c29, 662c57881b

[2018-01-17 13:48] foobarable commented on #1
@michzimny Check again and please create another issue for the moodle problem.

[2018-01-17 14:20] michzimny commented on #1
Now it works!

The moodle part is now probably hard to being reproduced.

[2018-01-17 14:20] #1 closed

[2018-01-26 14:36] vogias opened #3 "Missing attribute"
The mail attribute is missing from sso responses

[2018-01-26 14:39] foobarable commented on #3
It looks like simplesamlphp has some issues encoding some of the attributes.

Jan 26 15:30:16 ssoUp2u simplesamlphp[57358]: 3 [3627821e4e] SimpleSAML_Error_Exception: Error 2 - Invalid argument supplied for foreach()
Jan 26 15:30:16 ssoUp2u simplesamlphp[57358]: 3 [3627821e4e] Backtrace:
Jan 26 15:30:16 ssoUp2u simplesamlphp[57358]: 3 [3627821e4e] 11 /var/simplesamlphp/www/_include.php:86 (SimpleS

[2018-01-29 11:30] foobarable commented on #3
@vogias Can you try again? I think we found the issue (at least I could get the eMail attribute now)

[2018-01-29 13:44] vogias commented on #3
@foobarable It worked!

[2018-01-29 13:57] foobarable commented on #3
Perfect, will close the issue then.

[2018-01-29 13:57] #3 closed

[2018-02-02 10:58] vogias opened #4 "Add affiliation attribute"
Is it possible to add affiliation attribute?DSpace needs this for user group management when using shibboleth

[2018-02-02 11:23] michzimny commented on #4
I think that user group information will be kept in Moodle, and other services will need to query Moodle for that information. We cannot use EduGAIN affiliation as the most of schools are not in EduGAIN, and so they will register their accounts locally at GWDG SSO.

Moreover, there is personal data protection issue and we don't want to process users' affiliation information.

[2018-02-02 12:27] foobarable commented on #4
Hi,

we currently don't have this information. If we have a central group solution in place and we can read the  information from our ldap it is possible to pass this attribute via SAML.

[2018-02-02 12:55] michzimny commented on #4
Yes, it could be quite good solution to have SSO reading the group information from Moodle (or another group management service in the future) and pass it with other SAML attributes.

The group information in Moodle is not yet in place but in his today's email, Ilias gave a deadline for it for 15th February.

[2018-02-06 09:45] foobarable opened #5 "Register link should be more visible"

[2018-02-06 09:45] foobarable opened #6 "Check if email is already present in the system"

[2018-02-06 09:46] foobarable opened #7 "Try clustered setup"

[2018-02-08 12:56] vasilg opened #8 "error: login via eduGAIN"
When tried to login with eduGAIN at the test instance and after I have selected my institution and provided my surname and name, I got the following error.
![error](https://user-images.githubusercontent.com/36266155/35974004-252611fe-0ce0-11e8-848e-b5c30d652720.png)

[2018-02-08 12:57] foobarable commented on #8
Hi @vasilg. Should not be an issue anymore. It broke when I configured the firewall to allow cern access.

[2018-02-08 13:00] #8 closed

[2018-02-09 11:21] vasilg opened #9 "Login via Social Network Login"
I have tried to test logging in to our platform via Social Network Login (Facebook, Twitter and Google). I have successfully logged and then logged out (using all the above). One undesirable effect is that even after logging out of our platform, the user remains logged in on the auth provider (Facebook, Twitter, etc), even if there is no open tab.

I understand this is probably not our "problem",

[2018-02-09 11:52] vasilg opened #10 "Delete account?"
There is no option for someone to delete their account (from gdpr perspective especially this is very crucial, imho).
I don't recall if we have discussed/decided not to have this option in MVP#1 (i suppose in general we must have it).

This could raise a lot of issues i assume (regarding the process, the content that has been created, etc)

[2018-02-09 11:54] foobarable commented on #10
I agreee. Deletion of accounts has to be implemented as well as deprovisioning all the users data.

[2018-02-09 11:54] vasilg opened #11 "login form"
[https://learn.test.up2university.eu/ ](url)
here, there is a login form asking for username and password (both required fields). Upon clicking "log in" the user is taken to a different page asking them to choose a login method.
As far as I can tell, the username and password entered in the first form are never taken into account.

So, it is not clear what the user is supposed to enter there (or w

[2018-02-09 12:26] vasilg opened #12 "links should be more visible and user experience should be improved"
![up2u5](https://user-images.githubusercontent.com/36266155/36027708-05b2c1da-0da5-11e8-9221-8d8e2088845d.png)

it would also be nice to have a clear option to login to the platform and be directed there somehow...

[2018-02-09 14:04] michzimny commented on #9
Hi @vasilg, I agree. We're going to provide a set of instruction for end-users. I think it could be one of them.

I put it to the list of such information for end-users. See my last e-mails sent to WP5/7 mailing lists.

[2018-02-09 14:04] #9 closed

[2018-02-13 11:14] michzimny opened #13 "Use up2u-branded e-mail address to send mails"
SMTP configuration yet to be prepared.

[2018-02-13 11:19] michzimny opened #14 ""User ID" attribute"
During the local registration, a user is asked to provide "User ID", "E-mail", and other properties. Then, when logging in, the user is said to provide "Username". I've been confused when I provided my "User ID" to the "Username" field and the authentication process failed.

It seems "Username"="E-mail". It is not user-familiar.

Could we change "Username" label to "E-mail" and also remove "User I

[2018-02-13 11:27] michzimny opened #15 "How to get to change password, remind pasword options?"
When I enter incorrect password for a local account I get the message "Incorrect username or password...". Now a user would need a link to "remind password" option.

And also, how to get to other function like "change password"? Do we have the function? AFAIR, I've seen it once somewhere.

[2018-02-14 10:01] foobarable commented on #14
Ofc, on it.

[2018-02-20 09:23] Dimitrispant opened #16 "Metadata Configuration for selcont.test.up2university.eu"
Metadata Configuration

selcont.test.up2university.eu/Shibboleth.sso/Metadata

[2018-02-20 21:50] nadavkav commented on #15
Moodle does not store password in the mdl_user table, these are only MD5 hashes of the passwords. so you can not remind the user his/her password.

When passwords are managed outside of Moodle, we should put a link into the SAML2 system settings which redirect the user to the actual system that a user can change his/her password.

For example, if I am redirected to authenticate through our IUCC ID

[2018-02-21 10:14] foobarable commented on #16
Seems to work now

[2018-02-21 10:14] #16 closed

[2018-02-21 10:16] foobarable opened #17 "Set up testing instance"
Most importantly we should not change anything in production, this we need a test instance where whe can develop and configure all test installations of other services to.

[2018-02-21 10:55] michzimny commented on #17
+1

[2018-02-23 11:30] ebocchi opened #18 "Register new instance CERNBox at SSO side"
Please register at the SSO side the test instance https://cernbox-gamma.test.up2university.eu/cernbox

Metadata* available here:
https://cernbox-gamma.test.up2university.eu/cernbox/Shibboleth.sso/Metadata

* The test instance is intended for functional tests and development only, and it uses autogenerated metadata.

[2018-02-23 11:33] michzimny commented on #18
This instance has self-signed HTTPS certs. If it's a problem for anyone, please let me know.

[2018-02-23 12:25] foobarable commented on #18
Added it to the config. Will deploy it soon.

[2018-02-23 12:54] foobarable commented on #18
Deployed. Can you test?

[2018-02-23 13:00] ebocchi commented on #18
I got a Welcome page reporting "Metadata not found"

[code]

[2018-02-23 13:01] foobarable commented on #18
Feb 23 13:59:17 ssoUp2u simplesamlphp[29347]: 6 [6a0b9286d7] SAML2.0 - IdP.SSOService: Accessing SAML 2.0 IdP endpoint SSOService
Feb 23 13:59:17 ssoUp2u simplesamlphp[29347]: 3 [6a0b9286d7] SimpleSAML_Error_MetadataNotFound: METADATANOTFOUND('%' => '\'https://cernbox-gamma.test.up2university.eu/cernbox/shibboleth\'')

[2018-02-23 13:01] foobarable commented on #18
Let me double check if I can fetch the metadata manually

[2018-02-23 13:02] ebocchi commented on #18
I can fetch the metadata with
[code]

[2018-02-23 13:02] foobarable commented on #18
I think invalid (aka selfsigned) SSL-certificates are an issue. Could you use letsencrypt at least?

[2018-02-23 13:03] ebocchi commented on #18
Could it be related to certificates?
At the moment we are running on self-signed ones.

[2018-02-23 13:08] foobarable commented on #18
See comment before your comment ;)

[2018-02-23 13:33] ebocchi commented on #18
Working on it

[2018-02-23 13:46] ebocchi commented on #18
There are now proper (i.e., letsencrypt) certs on the server but no luck for the metadata retrieval

[2018-02-23 13:48] foobarable commented on #18
I have to trigger a new try from sso side. Stay tuned.

On 02/23/2018 02:46 PM, Enrico Bocchi wrote:

[2018-02-23 13:49] foobarable commented on #18
Okay, SSO could fetch the metadata now.

[2018-02-23 13:52] ebocchi commented on #18
Yes! Cool!
Now it is on me again. Thanks a lot!

[2018-02-23 15:28] ebocchi opened #19 "Register new instance SWAN at SSO side"
Please register at the SSO side the test instance https://swan-gamma.test.up2university.eu/

Metadata* available here:
https://swan-gamma.test.up2university.eu/Shibboleth.sso/Metadata

Let's Encrypt certificates are already in place ;)

*The test instance is intended for functional tests and development only, and it uses autogenerated metadata.

[2018-02-26 13:13] foobarable commented on #19
Done

[2018-02-26 14:52] ebocchi commented on #19
Unfortunately, I get the "Metadata not found" page as in the case of CERNBox.
Could you please try to deploy again?
I discovered an issue with the certs that has been fixed in the meantime.

Thanks!

[2018-02-26 17:17] ebocchi opened #20 "Unable to query LDAP server"
I am not able to query the LDAP server using the provided parameters due to (what looks like to be) a TLS issue.
[code]

Dropping simple authentication option (-x) doesn't help.
Same for dropping -Z
Replacing -H URI option with -h <hostname> -p <port> does not come to help either.

Do I need to be trusted as a client via certificates, besides using the password to issue the query?
Any parameter ch

[2018-02-27 07:38] foobarable commented on #19
There is a metadata file which seems to be recent and non empty.
`-rw-r--r-- 1 www-data www-data  12K Feb 27 08:01 https%3A%2F%2Fswan-gamma.test.up2university.eu%2Fshibboleth.serialized`

Could you try again?

[2018-03-07 13:19] michzimny commented on #11
@vasilg, are you able to reproduce? It seems to be fixed.

[2018-03-07 13:20] michzimny commented on #12
related: #5

[2018-03-07 13:22] #18 closed

[2018-03-07 13:27] #11 closed

[2018-03-07 14:52] ebocchi commented on #19
SWAN gamma test has been registered, thanks!
Currently developing a custom authenticator to allow user access.

[2018-03-07 14:52] #19 closed

[2018-03-08 06:54] moscicki opened #21 "EDUGAIN login does not work"
EDUGAIN login (selected from institution list: CERN)  fails with a SAML exception as per the screenshot.
It does not even reach CERN -- so it fails early on.

![image](https://user-images.githubusercontent.com/621965/37137389-c71bd0a4-22a5-11e8-8dc8-097d5cccf252.png)

[2018-03-08 09:32] foobarable commented on #21
@moscicki Can we get any logs from the IDP side?

[2018-03-08 09:35] foobarable commented on #21
What happens: We send the SAML request to your IDP and they send us away with the message "responder".

[2018-03-08 09:35] athird commented on #21
I can't reproduce this, so I don't know how to help - if I select CERN, I get directed to the CERN sign-in page.
<img width="1190" alt="screen shot 2018-03-08 at 09 31 34" src="https://user-images.githubusercontent.com/7839181/37143783-0c91c856-22b4-11e8-91f9-5af717adaa82.png">

[2018-03-08 09:47] foobarable commented on #21
@moscicki Also: Are you really sure it didn't reach cern? I think you had a Session with your IDP already and thus didn't see it. Can you reproduce with the network tab of your browser open?

[2018-03-08 10:56] Dimitrispant opened #22 "Edugain Unhandled Exception on Up2U Production Instance"
Hello,

I tried to sign in on Up2U production instance and an unhandled exception was thrown with tracking number 500be05023

![image](https://user-images.githubusercontent.com/13375110/37147577-15243f96-22d0-11e8-9540-40c8052c8db1.png)

[2018-03-08 10:59] Dimitrispant opened #23 "Metadata Configuration for selcont.up2university.eu"
The metadata file can be found here

https://selcont.up2university.eu/Shibboleth.sso/Metadata

[2018-03-08 12:05] moscicki commented on #21
@foobarable : yes, that's right -- it goes to CERN SSO and comes back with this message.

Do you see that there is an error coming from CERN SSO? If yes then is there any transaction id or such that can be used to identify the failing login attempt?

[2018-03-08 12:18] foobarable commented on #21
@moscicki I'll send you the important parts via email.

[2018-03-08 12:25] moscicki commented on #21
Thanks, got it and sent to CERN SSO service helpdesk.

On Thu, Mar 8, 2018 at 1:18 PM, foobarable <notifications@github.com> wrote:

--
---
Best regards,
Kuba

[2018-03-08 12:28] foobarable commented on #22
Having a look into it.

[2018-03-08 12:46] foobarable commented on #22
Hi,

your IDP does not release either uid or eduPersonTargetedID

[2018-03-08 13:06] Dimitrispant commented on #22
I talked with my IdP and they told me that I have to inform them about what attributes we want to release.

[2018-03-08 13:13] foobarable commented on #22
'givenName','sn','mail, eduPersonTargetedID, 'eduPersonPrincipalName', if possible

[2018-03-08 13:17] Dimitrispant commented on #22
Thank you! I already sent them as they were also in this link https://github.com/up2university/single-sign-on/blob/master/attributes.md

[2018-03-08 13:56] #22 closed

[2018-03-08 14:05] foobarable commented on #23
Added in in our testing system, will deploy very soon

[2018-03-09 11:29] michzimny opened #24 "Logout"
Is there any way to log out from SSO, meaning to invalidate a user session?

If so, we could add the information to the docs.

CC @ebocchi

[2018-03-09 11:36] foobarable commented on #24
https://wiki.shibboleth.net/confluence/display/CONCEPT/SLOIssues

[2018-03-09 12:04] michzimny commented on #24
Ok, good point.

I don't know yet what we want :)

[2018-03-09 13:13] michzimny opened #25 "SSO requests for uid attribute"
@misi reports:

![37207616-0edd96e0-239e-11e8-9a43-f5f1f76e3747 1](https://user-images.githubusercontent.com/1483196/37209015-d7150620-23a3-11e8-8e41-23b1987ea7ee.png)

[2018-03-09 13:15] foobarable commented on #25
It's either eduPersonTargetedID or uid. So if you send ePTID it's fine. (Uid is just for google auth)

[2018-03-09 13:25] misi commented on #25
@foobarable
Ok now I see THX.

Would it be possible to add your SP "R&S entitycategory"?
Then all IdP would by default release eduPersonTargetedID.
If not then all IdP must one by one may needed to set an exception to release this attribute.

Look forward to hear about Your thoughts on this...

[2018-03-09 13:29] michzimny opened #26 "SSO does not support IPv6"
Just for the record.

[2018-03-09 13:33] foobarable commented on #25
Yes, we can supply a CoCo and join the R&S category. You are right, we should do that.

[2018-03-09 14:24] ebocchi commented on #24
Thanks for bringing this up.

It is not critical for the time being. I will redirect to [up2u homepage](https://www.up2university.eu) as logout action, even though no actual logout takes place.
In future, it would be useful to have a, e.g, 'https://sso.up2university.eu/shibboleth/signout' to be called by every service behind SSO in order to log out users.

[2018-03-09 14:27] foobarable commented on #24
The thing is, then we would need to send the logout to all other
connected SPs of the session to log the user out in every other service
as well. It's not as trivial as it seems. Please read the article ;)

On 03/09/2018 03:24 PM, Enrico Bocchi wrote:

[2018-03-14 14:21] ebocchi opened #27 "Register CERNBox at SSO"
Base URL: https://cernbox.test.up2university.eu/cernbox
Metadata available at: https://cernbox.test.up2university.eu/cernbox/Shibboleth.sso/Metadata

The web server runs with certificates issued by Let's Encrypt Authority X3.

[2018-03-14 15:40] foobarable commented on #27
Deployed, can you check?

[2018-03-14 15:41] ebocchi opened #28 "Register SWAN at SSO"
Base URL: https://swan.test.up2university.eu/
Metadata available at: https://swan.test.up2university.eu/Shibboleth.sso/Metadata

The web server runs with certificates issued by Let's Encrypt Authority X3.

[2018-03-14 15:58] foobarable commented on #28
The metadata are not accessible right now

[2018-03-14 16:02] ebocchi commented on #27
I still get metadata not found:

![screenshot from 2018-03-14 17-01-30](https://user-images.githubusercontent.com/16349448/37414489-82963696-27a9-11e8-84bf-22c45153b557.png)

[2018-03-14 16:03] foobarable commented on #27
Sorry, puppet agent was disabled. Switched it on and deployed again

[2018-03-14 16:03] ebocchi commented on #27
And now again "metadata not found" but with the typical Up2U white theme

[2018-03-14 16:04] foobarable commented on #27
Yeah, seems there are issues with the deployment. Fixing.

[2018-03-14 17:20] ebocchi commented on #27
Up and running. Thanks!

[2018-03-14 17:20] #27 closed

[2018-03-15 07:48] foobarable commented on #23
Can you check if it works?

[2018-03-15 07:48] foobarable commented on #27
@ebocchi Try again please

[2018-03-15 08:30] ebocchi commented on #28
Could you please retry now?
I see the metadata at the link mentioned above

[2018-03-15 08:33] ebocchi commented on #27
It works no problem for me. Any changes?

[2018-03-15 09:03] foobarable commented on #21
Any news on this?

[2018-03-15 11:42] Dimitrispant commented on #23
I checked it, but I have another issue. I try to sign in with my credentials and then it just loops. I checked vhost and it seems ok. What may be the problem?

[2018-03-15 11:53] foobarable commented on #23
How can I reproduce? Go to selcont.up2university.eu and.. ?

Visiting https://selcont.up2university.eu/Shibboleth.sso/Login seemed to work for me, I get redirected once

[2018-03-15 11:58] Dimitrispant commented on #23
You can go here https://selcont.up2university.eu/wp-login.php?redirect_to=https%3A%2F%2Fselcont.up2university.eu%2Fwp-admin%2F&reauth=1. Then you select the option "Log In with Shibboleth". After choosing your institution (EduGAIN) and entering your credentials it loops.

[2018-03-15 12:02] foobarable commented on #23
Could reproduce. It works in the test system? Are there any differences in the apache config?

[2018-03-15 12:06] foobarable commented on #23
And, can you show me the apache and shibboleth.xml configuration?

[2018-03-15 12:23] Dimitrispant commented on #23
In test instance I have the same issue but it seems to be a vhost issue. For the production instance these are the files
 vhost https://pastebin.com/9zW9EZr0
shibboleth.xml https://pastebin.com/tYEZ8Yf2

[2018-03-15 12:40] Dimitrispant commented on #23
I just saw that lets-encrypt creates another file for vhost

https://pastebin.com/8K6JvhXE

[2018-03-15 12:43] foobarable commented on #23
Okay, you don't have any protected resources that would cause another redirect. Could we have a small call to figure this out?

[2018-03-15 12:45] Dimitrispant commented on #23
Of course. Can you give me your skype id?

[2018-03-15 13:45] Dimitrispant commented on #23
The production instance is now fine. I will check also the test instance in order to work. Thanks a lot!

[2018-03-15 13:45] #23 closed

[2018-03-16 08:27] foobarable commented on #28
Not it works. Didn't the last time I checked. Will register now.

[2018-03-16 09:58] moscicki commented on #21
Yes. Here is the reply from CERN SSO team:

_It seems Up2University are using scoped metadata which is not suported at all in our SSO environment (and is also normally not supported in edugain) so it will never work as is._

Isn't scoped metadata a problem for EDUGain access for other institutions?

[2018-03-16 13:31] foobarable commented on #25
@misi DFN now set this flag and the R&S category will be in the metadata for this SP after the weekend.

[2018-03-16 13:33] foobarable commented on #28
Deployed, test please.

[2018-03-16 13:46] ebocchi commented on #28
I get a "Down for maintenance" page

[2018-03-16 13:47] foobarable commented on #28
Oh, right. Now

[2018-03-16 13:58] ebocchi commented on #28
Yep! It works!
Thanks a lot

[2018-03-16 13:58] #28 closed

[2018-03-19 12:16] Dimitrispant opened #29 "SSO learn.test.up2university from gmail doesn't work"
I tried to sign in from a gmail account and I get this error:

![image](https://user-images.githubusercontent.com/13375110/37595078-11270276-2b80-11e8-8608-f9fd7a9ec3d4.png)

[2018-03-19 12:22] Dimitrispant opened #30 "SSO at selcont.test.up2university.eu loops"
I configured shibboleth at SeLCont test instance like the production instance but it still loops

vhost file https://pastebin.com/L4UviEL3

[2018-03-21 11:55] foobarable commented on #5
Done in sso.test.up2university.eu, can be deployed to production

[2018-03-21 12:08] foobarable commented on #30
But in production it worked?

[2018-03-21 12:09] foobarable commented on #17
Testing/dev instance mostly up and running

[2018-03-21 12:09] #17 closed

[2018-03-21 12:10] foobarable commented on #29
Works for me. Do you have your gmail-address already in a selfregistered account?

[2018-03-21 12:37] misi commented on #25
Unfortunately I still get the same error.

It is still not in metadata in mds.geant.org.
I still couldn't find R&S..
:(

`
<saml:AttributeValue>http://refeds.org/category/research-and-scholarship</saml:AttributeValue>`

[2018-03-21 12:39] foobarable commented on #25
Have to proxy this to DFN, I just forwarded what I was told. Stay tuned

[2018-03-21 12:41] misi commented on #25
@foobarable According it could you please reopen this issue?

[2018-03-21 13:04] michzimny commented on #29
If this is the problem (other user account with the same email address) then we should probably provide a human-readable explanation as our users might experience such issues too.

[2018-03-21 13:07] foobarable commented on #29
Yes, we need an error message for that. It's already on our todo list.

[2018-03-21 13:58] foobarable commented on #25
This is how the metadata look in the dfn aai. So it looks like they are not propagated to edugain?

[code]

[2018-03-21 14:04] foobarable commented on #25
Metadata from mds.edugain.org:

<md:EntityDescriptor entityID="https://sso.test.up2university.eu/ssp">
    <md:Extensions>
      <mdrpi:RegistrationInfo registrationAuthority="https://www.aai.dfn.de" registrationInstant="2018-02-28T14:54:23Z">
        <mdrpi:RegistrationPolicy xml:lang="en">https://www.aai.dfn.de/en/join/</mdrpi:RegistrationPolicy>
        <mdrpi:RegistrationPolicy xml:lang="de">h

[2018-03-21 14:04] foobarable commented on #25
Looks right to me

[2018-03-21 14:04] michzimny opened #31 "Authentication by Facebook"
I've read that Facebook authentication is currently off.

Shoudn't we disable Facebook button in the SSO for as long as it is not available? Now a user clicks the button and gets to an error message.

CC @iliashatzakis

[2018-03-21 14:06] foobarable commented on #31
Check the test system via learn-dev.test.up2university.eu. Did it
already there, but I hesitate to deploy to production during the training.

On 03/21/2018 03:04 PM, Michał Zimniewicz wrote:

[2018-03-21 14:08] foobarable commented on #25
Ah, I found the issue, we currently just did it for the test system.

[2018-03-21 14:10] foobarable commented on #25
We now did it for the production system. Will take a while till metadata propagate, though.

[2018-03-21 14:14] foobarable commented on #7
Postponed till a later stage.

[2018-03-21 14:15] misi commented on #25
Could you also add coco too?

[2018-03-21 14:28] michzimny commented on #31
Ok, fine.

[2018-03-21 14:29] misi commented on #25
No coco is not needed. Sorry...

[2018-03-21 14:31] Dimitrispant commented on #29
@foobarable I had this issue on a normal gmail account that it wasn's used in a selfregistered account. Now its ok. But as @michzimny mentioned it would be nice to add an error message for this case, as two users tried to do that on the training

[2018-03-21 14:31] #29 closed

[2018-03-21 14:33] Dimitrispant commented on #30
Yes it works on production instance, but it still loops at selcont.test.up2university.eu

[2018-03-21 14:35] michzimny commented on #6
We should provide a human-readable explanation if a user try to log in from one auth source with the same email addresses that is used by an account from other auth source (e.g. first authentication with Google, then local registration with the same Gmail address).

[2018-03-21 14:35] michzimny commented on #29
#6

[2018-03-21 14:37] foobarable commented on #21
We don't really understand what you mean by that. Could you ellaborate a bit what the exact problem is?

[2018-03-21 14:39] misi commented on #25
1. I mixed an older and the actual eduGain metadata. This is why I saw that sso.test don't have R&S.
Sorry! (user error)

2.You are right the problem was that https://learn.test.up2university.eu/ is using and sso.up2u and it don't have R&S

Is it by design that test moodle does not use the test sso?
It seems for me little bit confusing.

[2018-03-21 15:44] michzimny commented on #25
Please have a look at https://wiki.geant.org/display/UP2U/Moodle+instances for clarification on our Moodle instances.

[2018-03-22 06:52] misi commented on #25
@michzimny thx for the info about moodle.
Now works fine with the updated metadata.
THX for your help!

[2018-03-23 09:40] iliashatzakis commented on #31
No, please go ahead and remove it…
It’s misleading, we have to tell them to not go with FB…

BTW, we are using the pedagogy instance for the training, not production

https://learn.test.up2university.eu/

[2018-03-23 15:39] foobarable commented on #25
@misi Can we close the issue then?

[2018-03-23 18:49] misi commented on #25
Yes many thanks

Az Android készülékemrõl küldtem.

-----Original Message-----
From: foobarable <notifications@github.com>
To: up2university/single-sign-on <single-sign-on@noreply.github.com>
Cc: "Mészáros Mihály" <bakfitty@gmail.com>, Mention <mention@noreply.github.com>
Sent: Pén, 23 márc. 2018 16:39
Subject: Re: [up2university/single-sign-on] SSO requests for uid attribute (#25)

@misi Can we c

[2018-03-27 11:47] michzimny opened #32 "Non-latin characters cause encoded metadata values"
This is because the internal LDAP stores names with special characters encoded and it is not decoded properly.

The details can be found in https://github.com/up2university/kuboxed/issues/6

[2018-03-27 14:43] moscicki commented on #21
Here is a reply I got.

[code]

Is the Up2U SSO authentication working for other EduGAIN providers? Which ones did we test?

[2018-04-16 09:13] #25 closed

[2018-04-16 09:41] michzimny commented on #5
Yes, it's better now.

By the way, there are some typos:
* in the SSO front page: "EduGAIN AAi" -> "EduGAIN AAI" (case)
* page "Register new account ...": "including a url" -> "including an url"

[2018-04-16 09:43] michzimny opened #33 "I18n - Polish"
Could we get a list of text labels in the UI, to translate them into our language?

Currently some labels are translated, some are not.

[2018-04-16 11:17] foobarable commented on #21
So far we don't experience any problems with anyone but CERN

[2018-05-02 11:36] moscicki opened #34 "Up2U Login account registration -- cannot authenticate"
Hi,

I registered a new account following "Up2U Login" option at the SSO (I gave my gmail address):

![image](https://user-images.githubusercontent.com/621965/39521182-bc621a90-4e0d-11e8-850c-c16c89d7079b.png)

I got the email and I set the password correctly but I cannot login:

![image](https://user-images.githubusercontent.com/621965/39521090-5db68bf2-4e0d-11e8-8f7a-371d11f1fd85.png)

[2018-05-02 11:38] michzimny commented on #34
Kuba, could your issue be related to #14? The username field expects your e-mail address, not "user ID"...

[2018-05-02 11:52] moscicki opened #35 "validation link sent by email can be used multiple times"
Following issue #34: I can actually access the validation link (sent by email -- below) multiple times and every time I get a form to fill in my details.

Once the account is validated accessing this link should end up on a page saying that the account has already been activated.

Registration email:

[code]

[2018-05-02 11:55] moscicki commented on #34
If I login with my email address + password then everything works OK. Seems the same issue as yours (?).

[2018-05-02 11:57] michzimny commented on #34
Ok, so I'm closing this one as it seems to be a duplicate.

[2018-05-02 11:57] #34 closed

[2018-05-02 11:59] michzimny commented on #35
@moscicki, are you able to say what happens if you fill up the form for the second time?

I think the answer will tell us how critical the issue is.

[2018-05-02 12:01] michzimny commented on #14
I'm not the only one who gets caught in the trap - #34.

[2018-05-02 12:03] moscicki commented on #35
Not sure what happens (I am in the middle of functional tests so I prefer
not to break it ;-) but it should be very easy to test by the dev team. Thx
;-)

On Wed, May 2, 2018 at 1:59 PM, Michał Zimniewicz <notifications@github.com>
wrote:

--
---
Best regards,
Kuba

[2018-05-04 08:36] michzimny commented on #35
Filling the form for the second time creates a second user account and makes the both accounts inaccessible.

When logging in, such a user gets the following message:

where `$EMAIL_ADDRESS$` is user's email address.

[2018-05-04 08:41] foobarable commented on #35
Thats indeed not good. Looking int oit

[2018-05-09 11:37] foobarable commented on #32
We had some issues reproducing the problem. Trying to get the LDAP data manually from PHP does not cause this issue.

[2018-05-09 12:03] foobarable commented on #32
@michzimny Which of your accounts causes the problem?

[2018-05-09 15:28] michzimny commented on #32
@foobarable, it happens in CERNBox when I authenticate with either Google or EduGAIN. It seems it is caused because of character 'ł' in my first name.

The details can be found in https://github.com/up2university/kuboxed/issues/6

[2018-05-10 11:02] michzimny opened #36 "Cannot login to CERNBox via Moodle"
We cannot login to CERNBOX via Moodle. We receive the message “error/Could not decode JSON token response”.

The problem has been already reported a few weeks ago, this issue is just for the record.

A more detailed description by @athird:

 The error appears in Moodle, but it’s because Moodle is receiving an error from the SSO (when CERNbox attempts to redirect back to Moodle during the OAuth pro

[2018-05-11 09:42] foobarable opened #37 "Self registered accounts are still created with old user ID"

[2018-05-11 09:43] foobarable commented on #37
Bug was fixed but we still have some self registered accounts with wrong IDs now.

[2018-05-11 09:49] michzimny commented on #37
@foobarable, by 'old user IDs' you mean the old format?

[2018-05-11 09:51] foobarable commented on #37
Yes, after looking again in the code of the selfregister module I found that  we still used the old generator for user ids. We threw it out and use the new ID in our code but until it's deployed we should disable the registration for now

[2018-05-11 09:56] michzimny commented on #37
Could we plan a deployment ASAP instead of disabling the registration?

What about the user accounts with old ids? Might they be left as they are?

[2018-05-11 09:57] foobarable commented on #37
No, we should delete or migrate them

[2018-05-11 10:00] michzimny commented on #37
Can you give us the number of such users with old IDs?

What about the deployment?

[2018-05-11 12:10] foobarable commented on #37
19 users with some being testusers, so not so critical. Lets try to schedule asap. Next week?

[2018-05-14 09:49] michzimny commented on #6
Italian teachers report this issue too.

[2018-05-16 06:16] m0ark commented on #32
@michzimny There seems to be an issue with CERNBox. None of our other service providers shows this behaviour and the SAML attributes are transferred correctly.

[2018-05-16 06:32] m0ark commented on #21
@moscicki I don't get what is meant by *scoped metadata*.

Scopes in metadata are completly fine in shibboleth communication and suggested by edugain. (See https://wiki.geant.org/display/eduGAIN/eduGAIN+Metadata+Template+for+Identity+Provider)

Without further information this issue is blocked from our side.

[2018-05-16 08:57] athird commented on #36
I sent an email update about this, but just to add it here too. The issue is that between 3 and 4 is another step:

3.5 Moodle makes another call to a CERNbox endpoint (the token endpoint) to upgrade the CERNbox authorisation code to a token.

But the CERNbox token endpoint redirects to SSO (because all of this is happening server-side and there are no cookies for it to read to detect login status

[2018-05-16 10:29] ebocchi commented on #36
Fixed and answered in the corresponding email thread.

[2018-05-16 11:30] michzimny commented on #32
In https://github.com/up2university/kuboxed/issues/6, on 20th March, @ebocchi reported that this is what CERNBox receives from the SSO:
displayName is empty
givenName is ": TWljaGHFgg=="
surname is "Zimniewicz"

@ebocchi, could you please comment on this? We need to diagnose on which side we have a problem here.

[2018-05-16 11:34] michzimny commented on #33
Awaiting for updates from @m0ark about the right style to provide the translations.

[2018-05-16 11:34] foobarable commented on #37
@michzimny We deployed the fix, what should we do with the users with wrong ids?

[2018-05-16 11:37] michzimny commented on #37
@foobarable, thanks. Could we leave those users as they are for some time, and then migrate them later? For how long could they stay untouched now?

[2018-05-16 11:39] #36 closed

[2018-05-16 12:03] foobarable commented on #26
IP-V6 introduction for the network from sso is now an official todo

[2018-05-22 09:41] foobarable commented on #37
@michzimny I think those users may have problems when they try to log in into cern box because they do some mapping with the user ids

[2018-05-22 09:46] michzimny commented on #37
@ebocchi, could be any problem in CERNBox that some users have still SSO IDs with the old schema, and others have the IDs with the new schema?

[2018-05-22 13:28] michzimny commented on #37
@ebocchi, is the 'near future' simply the time when we put in place the eos-swan fix, related to ID mapping, that we have been discussing?

[2018-05-22 13:31] ebocchi commented on #37
@michzimny, correct! The fix is now there and will be shipped with the upcoming software release. Then, it is just a matter of rebuilding the docker images.

[2018-05-22 13:32] ebocchi commented on #37
Not sure we want to apply this to the "test" instance, though. Users will lose access to the data unless we migrate them (both user IDs and file ownership). Instead, we will be able to start the production instance with a clean mapping of user IDs.

[2018-05-22 13:41] michzimny commented on #37
Guys, thank you for the updates. I think that we should keep the user accounts till the end of June, when the most of school activities will be suspended. I also think that we should not apply the fix to the test CERNBox. It's better now for the users to keep their accounts and possibly have no access to production CERNBox, when it gets deployed, than remove them completely.

[2018-05-23 10:57] michzimny commented on #20
@ebocchi, please confirm it is still an issue.

[2018-05-23 13:32] michzimny commented on #24
Currently, a user is able to log out from Moodle but is not able to log out from CERNBox.

@athird or @foobarable, could you tell us how the log-out is implemented in Moodle? Could we do it in the same way in CERNBox?

[2018-05-23 13:35] foobarable commented on #24
Hi, we would need the owncloud session to reuse the shibboleth session.
It's not that easy and we have not solved it for our owncloud yet either.

On 05/23/2018 03:32 PM, Michał Zimniewicz wrote:

[2018-05-23 13:50] michzimny opened #38 "Unable to authenticate as a new user"
I have authenticated with a new Google account. It ended up with an error code in SSO: 9852040c57

Then, whenever I open either CERNBox or Moodle, I get the stack trace below.

It says that there is a SSL certificate problem, certificate has expired?

[code]

[2018-05-23 13:50] ebocchi commented on #32
@michzimny The issue has been fixed. Please, verify it.
New users will be stored in the LDAP correctly now that SSO forwards special characters with unicode encoding.
Old usernames have been manually fixed.

[2018-05-23 13:53] michzimny commented on #38
Checked with another new Google account. The same issue occurs.

[2018-05-23 13:55] michzimny commented on #32
I cannot test it for the moment because of https://github.com/up2university/single-sign-on/issues/38

[2018-05-23 13:58] ebocchi commented on #20
Yes, I still `Can't contact LDAP server (-1)`
Even though the port is open

[2018-05-23 14:07] foobarable commented on #38
Yes, its a letsencrypt certificate and we can't renew it currently because the idm server is in an internal network. We would have to switch for other certificates I guess. Can you create some for idm.test.up2university.eu?

[2018-05-23 14:11] michzimny commented on #24
I'm closing this as it seems it's not necessary on the SSO side.

[2018-05-23 14:11] #24 closed

[2018-05-23 14:14] michzimny commented on #38
[code]

@foobarable, the host behind that domain is at yours. I can ping it.

I could be able to generate a cert if I redirected the domain to a host at PSNC. Shall I do this? What will be broken by such action?

[2018-05-23 14:15] foobarable commented on #38
This is the old system, which is now our test instance. Its no longer productive.

[2018-05-23 15:38] michzimny commented on #38
Solved, thanks.

[2018-05-23 15:38] #38 closed

[2018-05-30 08:47] moscicki commented on #21
I am not an expert at all on EduGAIN but I inquired for more information. Here is what I found -- I hope this should allow you to progress on this.

Simplesaml has a patch in progress (it seems to have stalled though…) and there are some code snippets at https://github.com/simplesamlphp/simplesamlphp/issues/498. I appreciate that it’s non standard but it would be great if Up2U SSO could add the wo

[2018-05-30 19:40] michzimny opened #39 "Cannot authenticate as a new user"
![screenshot-2018-5-30 up2u single signon](https://user-images.githubusercontent.com/1483196/40743468-e5db7862-6451-11e8-98fd-38a475a40d8a.png)

This is what I get when I authenticate as a new user by Google.

I was told the same probably happens for new users authenticated by EduGAIN.

[2018-05-31 09:39] foobarable commented on #37
It's end of June now. What do we do with those accounts?

[2018-05-31 09:40] foobarable commented on #20
We have moved to another LDAP, I will send you new credentials. @ebocchi Can you provide me any public key?

[2018-05-31 09:52] ebocchi commented on #20
@foobarable email sent

[2018-06-01 11:46] foobarable commented on #6
For self registration this is fixed. You now cannot enter an email-Address, if it is already present in the system. It won't work with other authsources that don't provide an eMail-address

[2018-06-05 12:06] foobarable commented on #20
@ebocchi Have you been able to test the new credentials?

[2018-06-05 12:17] foobarable commented on #31
Facebook auth is back again in the testing system. Feel free to test.

[2018-06-05 12:40] foobarable commented on #12
I placed a link to the password reset functionality more prominently. Do we need a link to to the other functions as well?

[2018-06-05 14:44] michzimny commented on #31
It works for me.

[2018-06-05 17:21] ebocchi commented on #20
@foobarable
Tried now. Looks like network configuration is against us
[code]
Could you confirm port number and if it uses a secure socket?

[2018-06-06 07:04] foobarable commented on #31
When shall we deploy to production?

[2018-06-06 07:57] iliashatzakis commented on #31
doesn't here :(

[2018-06-06 07:57] foobarable commented on #31
@iliashatzakis any more details?

[2018-06-06 08:01] iliashatzakis commented on #31
dead, black... contrarily to google and twitter... we are talking about the test instance of moodle, right?

[2018-06-06 08:02] foobarable commented on #31
Nope, the sso-testing instance is configured at learn-dev.test.up2university.eu

[2018-06-06 08:05] iliashatzakis commented on #31
![image](https://user-images.githubusercontent.com/16252936/41025013-78b8e5e4-6979-11e8-82f0-ca87da5c56f8.png)

[2018-06-06 08:05] iliashatzakis commented on #31
this one gives the interface (?)...

[2018-06-06 08:06] iliashatzakis commented on #31
old interface..

[2018-06-06 08:08] foobarable commented on #31
Klick on Login via SAML2 ;)

[2018-06-06 08:31] iliashatzakis commented on #31
yeap! working just fine... I think we should pass it to the other 2 instances too, any cons for that?

[2018-06-06 08:33] foobarable commented on #31
Fine with me. Update would take 1 puppet run  (~2 min). Do you want to announce it?

[2018-06-06 08:40] iliashatzakis commented on #31
great, go ahead!

[2018-06-06 08:48] michzimny commented on #31
@foobarable, we have a large real-time demonstration planned for tomorrow. Are there any other changes to be deployed that have not been tested and might cause any problems for us? If so, then please wait till Friday with the deployment.

[2018-06-06 08:52] foobarable commented on #31
@michzimny I think we are fine to do it today. @m0ark Any doubts?

[2018-06-06 09:01] m0ark commented on #31
It doesn't affect anthing else. The whole update process shouldn't even be noticable at all.

[2018-06-06 09:04] michzimny commented on #15
1. I get a SSO error when trying to reset password: e032f09646
2. How to reach the change password option, provided I'm a regular non-technical user?

[2018-06-06 09:04] michzimny commented on #31
Ok, let's do it.

[2018-06-06 09:05] michzimny commented on #6
Which of our auth sources do not provide email addresses?

[2018-06-06 09:07] foobarable commented on #6
Twitter and some IDPs in EduGain I think.

On 06/06/2018 11:05 AM, Michał Zimniewicz wrote:

[2018-06-06 09:09] michzimny commented on #6
Ok. How could I test it? Is the fix already present in production?

[2018-06-06 09:10] michzimny commented on #32
Closing the issue here as it seems to be on the CERNBox side :)

[2018-06-06 09:10] #32 closed

[2018-06-06 09:10] foobarable commented on #6
Try the following:

In production: Try to register a new account and enter an email-address which is already present in the system

[2018-06-06 09:11] michzimny commented on #14
Could we just change the labels of the fields?

[2018-06-06 09:15] michzimny commented on #6
If I authenticate by Google and then by Facebook, and the both social accounts have the same email address, then it seems I have two different identities in the SSO, right?

Shouldn't we solve such issue too?

[2018-06-06 09:27] foobarable commented on #15
I could add a link to this "Account manager". This is just available once logged in though.

[2018-06-06 09:47] foobarable commented on #6
Yeah, account merge/linking is still a think we have to do.

[2018-06-06 09:47] foobarable commented on #6
From facebook and google you should always come with different email-addresses though.

[2018-06-06 10:49] michzimny commented on #31
Now in production, during Facebook-based authentication, I get the following error from Facebook, and then another one from Moodle:

[2018-06-06 11:00] m0ark commented on #31
Minor configuration issue. It works now.

[2018-06-06 11:17] michzimny commented on #31
Ok, thanks.

[2018-06-06 11:17] #31 closed

[2018-06-06 11:25] michzimny commented on #15
3. It is allowed to reset password for accounts based on external auth sources. I think it's not good. Tested in production.

I'm not sure how is it going to look like. Could you please briefly describe this procedure to be given to our users to let them know how to change their passwords?

[2018-06-06 11:29] michzimny commented on #15
4. I got "Your user id is Array":
![capture](https://user-images.githubusercontent.com/1483196/41035642-8fd1b6b6-698d-11e8-9bef-1f9c1aeaa946.PNG)

[2018-06-06 11:36] michzimny commented on #37
It's not end of June yet. I will be in a couple of weeks :)

[2018-06-06 11:42] michzimny commented on #15
5. And the password reset does not work for me. I have submitted the reset form several times, but only the old password works.

[2018-06-06 11:44] michzimny commented on #14
And hide "user ID" field during registration?

[2018-06-06 11:49] michzimny opened #40 "Unregister does not work"
I have created a new self-register account. Then I have found link "unregister" that I clicked and confirmed. I get the following error code from SSO: 453dd68f31

Maybe the unregister option should be hidden as it does not delete accounts in all the services that use SSO (becuase of user experience).

[2018-06-06 15:14] michzimny opened #41 "Link "register here" in test leads to production"
At https://sso.test.up2university.eu/simplesaml/module.php/multiauth/selectsource.php?AuthState=...
[code]

[2018-06-06 15:17] michzimny opened #42 "Cannot register new accounts in test"
At https://sso.test.up2university.eu/simplesaml/module.php/selfregister/newUser.php
I get "Unhandled exception" for any new email address.

Last error code: 5dec80f566

[2018-06-06 15:20] michzimny commented on #42
The same when I log in via EduGAIN, possibly as a new account in test (I'm not sure).

[2018-06-07 17:13] 8c44klfls commented on #5
I close this issue now. Checked https://learn.test.up2university.eu/ and typos mentioned are gone.
<img width="580" alt="sso page" src="https://user-images.githubusercontent.com/39767077/41115111-cbaae3e8-6a86-11e8-93da-5f4d5a694067.png">

[2018-06-08 04:42] 8c44klfls commented on #26
I guess we are talking about an IPv6 adress for the https://sso.up2university.eu/. I will take care.

[2018-06-08 06:53] michzimny commented on #26
That's right, thanks.

[2018-06-08 08:47] michzimny commented on #5
For me it seems this one is still an issue:

(this one can be found by clicking "register here")

and also in the landing page (the screenshot above) it's "EduGAIn" but it should be either EduGAIN or eduGAIN.

[2018-06-08 15:00] michzimny opened #43 "Too simple password causes unhandled exception"
During local registration (form "New user information"), if you try to set too simple password, e.g. "a", then you get Unhandled exception. Users are not informed what just happened and why they cannot proceed.

Last error id: d05b71eefb. Tested in production.

[2018-06-08 16:13] ebocchi commented on #32
Fixed on the CERNBox side ;)

[2018-06-11 13:43] michzimny commented on #42
Currently, I tried to log in via Google to the test SSO and I see "Preparing your account. This step can take up to a minute." for about 30 minutes. After closing the browser tab and logging in again, the result is the same, the same message.

[2018-06-21 06:12] m0ark commented on #42
@michzimny this is resolved by now. A new release of the according module has been rolled out.

[2018-06-21 09:34] michzimny commented on #42
@m0ark, is it rolled out to the test instance?

I'm still experiencing the issue from my first comment here. My error code just obtained is 0a8d29fd3b.

[2018-06-21 09:51] m0ark commented on #42
Actually there are 2 different issues here.
I fixed account creation for every onboarding method (except selfregistration).

The other issue is about selfregistering, I didn't have a look at it yet but will have soon.

[2018-06-26 14:21] michzimny commented on #41
And now, I see "Array" instead of the registration link:
![capture](https://user-images.githubusercontent.com/1483196/41918570-ef24115c-795c-11e8-9c09-4194ecff6d82.PNG)

[2018-06-26 14:25] michzimny commented on #42
When could you bring a solution for the self-registration issue?

[2018-06-26 14:44] foobarable commented on #41
I cannot reproduce this. Did you do somethine specific?

[2018-06-26 14:49] michzimny commented on #41
Note that the issue is about the test instance of SSO.

I'm trying to authenticated to learn-dev Moodle.

[2018-06-26 14:51] foobarable commented on #41
Ah, maybe @m0ark changed the translation backend. I will check it and adjust the theme accordingly

[2018-07-03 05:56] m0ark commented on #42
@michzimny Self-registration is up and running again.

[2018-07-03 06:00] m0ark commented on #14
This is resolved. Please check and confirm.

[2018-07-03 06:14] m0ark commented on #41
It's fixed without changing translation backend though.

[2018-07-03 09:07] michzimny opened #44 "Production SSO does not work - The page isn’t redirecting properly"
Trying to log in from any tool, for instance Moodle, ends up with the following message from the web browser:
"The page isn’t redirecting properly" (Firefox)
"This page isn’t working. sso.up2university.eu redirected you too many times." (Chrome)

[2018-07-03 11:48] 8c44klfls commented on #44
Issues has been solved.

[2018-07-03 11:48] #44 closed

[2018-07-04 10:30] #41 closed

[2018-07-04 10:35] michzimny commented on #12
@foobarable, would it be possible to redirect a user after registration to continue authentication to the service they came from? It is about user experience and ease of use.

Let me clarify:

1. I'm in Moodle and want to log in.
2. Opening SSO
3. Registration...
4. After the registration, I see the screen as above. How to go now to Moodle that I wanted to log in to?

Opening a new tab and manuall

[2018-07-04 10:35] #42 closed

[2018-07-04 10:36] michzimny commented on #30
@Dimitrispant, do we still have any issues here?

[2018-07-04 10:39] michzimny commented on #14
I see it's solved in test.

When could we plan to deploy to production? I think any day this week is ok.

[2018-07-04 10:51] m0ark commented on #14
You can chose:
Wednesday 15:00 UTC+2
Thursday 11:00 UTC+2
or delay to next week.

Maintainance should only take ~15 minutes including functional testing.

[2018-07-04 10:58] michzimny commented on #14
Let's do it tomorrow at 11:00 UTC+2.

Please confirm.

[2018-07-04 10:58] Dimitrispant commented on #30
@michzimny , There is still this issue on the test instance, despite I used the same configuration as the production instance.  I am checking Apache logs to see if I can have a clue there, but still nothing. I'm working on it these days.

[2018-07-04 11:09] m0ark commented on #14
Ok, the maintainance will happen tomorrow.

[2018-07-04 13:59] michzimny commented on #37
@foobarable, it seems that the 19 accounts you once sent me can be deleted. Could you please just preserve a list of actually deleted accounts (i.e. user IDs, names) to be able to match a person with their user ID, just in case of any problems.

[2018-07-05 04:59] m0ark commented on #37
I issued a complete dump. As soon as it's finished I will delete these accounts.

[2018-07-05 09:15] m0ark commented on #14
Maintainance is finished now. Tested everything at least once.
Please confirm and close this issue.

[2018-07-05 10:35] m0ark commented on #43
I forwarded this to our IdM team, so they can have a look at it.

[2018-07-05 10:37] m0ark commented on #33
@michzimny sent you a mail with the files attached.

[2018-07-05 10:39] m0ark commented on #6
Will be resolved. In addition to that I forwarded this issue to our IdM team to prevent these kind of constellations in the future.

[2018-07-05 11:35] michzimny commented on #14
It works, thanks.

[2018-07-05 11:35] #14 closed

[2018-07-05 13:57] michzimny commented on #33
Thanks.

Could we put the files somewhere in git? In github or in your gitlab?

Other countries will probably have similiar case, so other people will need to update their translations too.

[2018-07-09 06:39] m0ark commented on #37
The accounts are backed up and removed now.

[2018-07-09 12:34] m0ark commented on #33
I just refactored all the modules, so there's only one project managing translation.
You should have received an invitation to our gitlab.

[2018-07-09 15:29] michzimny commented on #37
Thanks for the information. Is this issue considered closed now?

[2018-07-09 15:38] michzimny commented on #33
Got it, thanks.

[2018-07-09 18:23] m0ark commented on #37
Yes, it should be closed.

[2018-07-09 18:31] m0ark commented on #35
The validation link cannot be invalidated as of now. It's an unfortunate use of a time based token by the original author. However the token cannot be used to create another account since the email address has already been taken by creating an account in the first place.

From my point of view this should be considered low priority until we got a service for one time use tokens.

[2018-07-09 18:41] m0ark commented on #4
How's the progress on this? It's there a source for group information that can be queried yet?

[2018-07-09 21:11] #37 closed

[2018-07-12 13:14] michzimny commented on #35
@m0ark, I think it would has a low priority if using the link for the second time did not allow to create a second account and did not make both accounts inaccessible.

[2018-07-12 13:15] michzimny commented on #4
There is no such information to be queried now. I'm closing the issue as this is rather a general architecture issue to be discussed in the future.

[2018-07-12 13:15] #4 closed

[2018-07-18 14:08] gtoffoli opened #45 "Register CommonSpaces at Up2U SSO"
Base URL: https://test.commonspaces.eu/
Metadata available at: https://test.commonspaces.eu/saml2/metadata/

I sent a mail to Ralph Krimmel on July 4, on "Up2U - Info and contacts for Up2U-CommonSpaces integration", but got no answer yet.
I was asking some support, since CommonSpaces doesn't use PHP and I'm not expert of SAML2.
Thanks.

[2018-07-19 11:19] gtoffoli commented on #45
@foobarable No problem, thank you.
I have to start testing the SP from the beginning, since I didn't test it with any other IDP.
I dont't know which version of the IDP is better to use. Please, tell me.
If I must use its testing version, I will change the SP configuration data from which the SP metadata are generated.

[2018-07-25 10:53] michzimny commented on #15
@foobarable, have you maybe any updates for this?

[2018-07-30 15:59] michzimny commented on #6
What happens now if a user authenticates with the same email address from different sources? And what is our short-term goal for that?

For instance, a user authenticates first locally and then by Google. Or even first by Google, and then by EduGAIN (with the same email address).

[2018-08-09 13:02] foobarable commented on #26
sso.up2university.eu is now available at 2001:638:60f:e013::18:18. Can GEANT update the DNS records?

[2018-08-10 12:56] michzimny commented on #26
Done.

[2018-08-10 12:57] 8c44klfls commented on #26
Thnx. philipp.

---
Dr. Philipp Wieder
Deputy Head Data Center
Group Leader eScience
GWDG - Gesellschaft für wissenschaftliche Datenverarbeitung mbH Göttingen
Am Faßberg 11, 37077 Göttingen, Germany
www.gwdg.de

M +49 151 42672933
T +49 551 201-1576
F +49 551 201-2150
E philipp.wieder@gwdg.de

Geschäftsführer: Prof. Dr. Ramin Yahyapour
Aufsichtsratsvorsitzender: Prof. Dr. Norbert Lossau
Sitz der G

[2018-08-13 08:10] foobarable commented on #26
So, for SSO this is solved.

[2018-08-13 08:10] #26 closed

[2018-08-13 13:53] michzimny commented on #15
ping @foobarable

[2018-08-13 13:54] foobarable commented on #15
Trying to reproduce

[2018-08-14 13:11] foobarable commented on #12
With the current implementation of the selfregister module this is not possible. Would need a rewrite of the GEANT module. So I think we need to stick with the workarround.

[2018-08-14 15:58] michzimny commented on #12
If by "workaround" you mean my proposal with "target=blank", then I'm fine with it.

[2018-08-17 11:10] foobarable commented on #12
Implemented the target=blank in the i18n module for german and english

[2018-09-05 10:35] #12 closed

[2018-09-07 08:34] gtoffoli commented on #45
Hi, I didn't get news about my request, nor I solicited them.
Now the SP described by https://test.commonspaces.eu/saml2/metadata/ is configured to be tested with the testing instance of the Up2U IdP.
Are those metadata ok for the Up2U SSO? Thanks!

[2018-09-07 08:43] foobarable commented on #45
Yes, we can test those. They are already deployed.

[2018-09-07 13:18] foobarable commented on #45
@gtoffoli Were you able to test the your instance?

[2018-09-07 15:40] gtoffoli commented on #45
@foobarable No, thanks. I've just made a try.
1. got the screen to choose among several forms of login; chose "Login with UP2UID"
2. got the form "Welcome - Insert username ad password"; inserted the email toffoli@uni.net and the password
3. got "Not managed exception" screen; sent tracking id with some note.
By the way: in July I registered at the Up2U IdP in production with the email toffoli@uni

[2018-09-21 08:16] gtoffoli commented on #45
@foobarable As I wrote in my previous comment, the first and only test that I made was unsuccessful. I don't know if, from the tracking id associated to the "Not managed exception" UI message issued by the IdP to the user, you are able to guess what could have happened. Can I do something to help debugging?

[2018-09-21 09:07] foobarable commented on #45
@gtoffoli can you send a screenshot of the error page to rkrimme1@gwdg.de?

[2018-09-24 12:58] foobarable commented on #45
@gtoffoli I could reproduce the issue with our test system. Could you point your common spaces instance to use our production sso for another test?

[2018-10-02 12:48] foobarable commented on #45
Fixed in production

[2018-10-02 12:48] #45 closed

[2018-11-15 13:05] michzimny opened #46 "New users cannot authenticate in production"
If you authenticate for the first time, you currently get "Account could not be created!". Sample error id: 08f36ebe51

I've tested with Google accounts. Other users told me it's also an issue for EduGAIN. Maybe it's for all sources.

If you authenticate as an already existing Up2U user, then it's fine.

Older similiar issue: #42

In addition, would you be able to monitor such effect somehow?

[2018-11-19 00:35] ivanoterouvigo opened #47 "Problem with Edugain access"
Hi everyone!

From long time ago, I have the same problem trying to use Edugain access in both platforms.

https://learn.test.up2university.eu

and

https://learn.up2university.eu

I attached here some images of the error.

![moodle_learn_test_up2university_001](https://user-images.githubusercontent.com/11814769/48680379-38c9af00-eb9b-11e8-9e30-dc08d874a816.png)
![moodle_learn_test_up2university_0

[2018-11-19 00:49] ivanoterouvigo opened #48 "Error with google account access"
Hi everyone!

A teacher who attended Italian training course in april/may has a problem accessing the course.

He autenticated to the platform and created an account using his google account at the beginning of the training course. He followed the course and now he wants to consult its materials again, but he can't.
The error that appear is an "unhandled exception", with the following tracking id

[2018-11-19 15:05] foobarable commented on #48
@m0ark @michzimny Waiting for response from our IDM team to fix this issue

[2018-11-20 09:47] foobarable commented on #48
@ivanoterouvigo Can you try again?

[2018-11-20 09:48] foobarable commented on #47
@ivanoterouvigo Your IDP is missing the metadata from our IDP. Your IDP administrator need to fix this

[2018-11-20 09:52] michzimny commented on #47
@foobarable, as it seems to be an issue for several edugain IDPs, could you please add a wiki page somehwere (maybe in this repository) explaining what should be fixed on the IDP side? Then all people could reference this description when talking to their IDP managers.

[2018-11-20 09:55] foobarable commented on #47
@michzimny https://wiki.geant.org/display/eduGAIN/How+to+set+up+an+Identity+Provider+for+eduGAIN Its basically this

[2018-11-20 09:56] ivanoterouvigo commented on #47
Thanks @foobarable, I agree with @michzimny. I also suggest to share in this wiki simple instance of diagram with a simple explanation of workflow.
For example. I don't know who is the IDP administrator of Spain.

[2018-11-20 09:58] foobarable commented on #47
Okay, I will search better dokumentation. The geant wiki has alot of dead links

[2018-11-20 09:59] foobarable commented on #47
@ivanoterouvigo https://wiki.geant.org/display/eduGAIN/Metadata+Flow+in+eduGAIN

[2018-11-20 10:00] foobarable commented on #46
@michzimny should be solved. The glassfish server of the idm had some issues with the heap memory.

[2018-11-20 13:50] michzimny commented on #46
Thanks.

@foobarable, would you be able to monitor it anyhow in the future?

[2018-11-20 13:50] #46 closed

[2018-11-20 13:53] foobarable commented on #46
I can ask the administrators of the IDM system how they monitor it and how we can prevent stuff like that.

[2018-11-21 10:43] athird commented on #5
@michzimny I can't bring up the page right now to check, but "including a url" is correct (since verbally, "URL" starts with a consonantal sound - You-arr-ell :-) ). Though the case should be corrected, it should be "URL".

[2018-11-21 11:02] michzimny commented on #5
Yes, you're right of course :)

[2018-11-21 22:57] michzimny commented on #33
@m0ark, @foobarable - could we publish your simplesamlphp-module-i18n repository to github so people from different countries could easily contribue (without the need for you to create accounts for them in you gitlab, etc.)?

If you agree, I can simply push the whole repository to github (within up2u organisation).

[2018-11-21 22:59] michzimny opened #49 "Microsoft Office 365 as authentication source"
This is an improvement suggestion collected from external users. Do you have any idea how problematic it could be, and how realistic it is to have it?

[2018-11-23 11:15] foobarable commented on #49
We have yet to look at the authentication protocol they use.

[2018-11-26 15:19] michzimny commented on #33
@m0ark, @foobarable - please let me know if it's fine for you to publish your simplesamlphp-module-i18n repository to github.

[2018-11-27 09:31] michzimny commented on #33
My problem is that I'd like to ask project people to contribute providing their translations. To do so, I need to tell them how to provide the translations.

Pehaps, I could clone your private repository with translations to github and ask people to contribute there. Then from time to time, I would push changes from github back to your private repo. This way, you don't need to change anything in y

[2018-11-27 12:36] michzimny commented on #43
@foobarable, @m0ark, any updates?

[2018-11-27 12:38] michzimny commented on #15
@foobarable, these are critical issues here:

2. How to reach the change password option, provided I'm a regular non-technical user?

I'm not sure how is it going to look like. Could you please briefly describe this procedure to be given to our users to let them know how to change their passwords?

3. It is allowed to reset password for accounts based on external auth sources. I think it's not goo

[2018-11-27 12:39] michzimny commented on #6
@m0ark, what's the status of this issue?

[2018-11-27 12:44] michzimny commented on #49
@foobarable, would you be able to provide, till the next week, a description for a few sentences explaining what could be done on this matter? We're preparing a report on improvement suggestions from users and we need to address this issue anyhow.

[2018-11-27 12:49] foobarable commented on #48
Is this problem still existent?

[2018-11-27 12:59] foobarable commented on #49
Currently reading about it. It looks like we would need an AD for doing so.

[2018-11-27 13:00] michzimny commented on #49
And AD stands for? :)

[2018-11-27 13:02] foobarable commented on #49
Active Directory. But I've found some documentation about Azure Directory as OpenIDC provider. Let me check it.

[2018-11-27 13:11] foobarable commented on #49
It's not possible for me to register with my work email at microsoft to do this:

https://docs.microsoft.com/de-de/azure/active-directory/develop/v1-protocols-openid-connect-code

[2018-11-27 13:34] michzimny commented on #49
So shall we create a private email account to be used just for the purposes of AD? And have the password for this account shared with someone else just to not loose the access?

[2018-11-27 13:51] foobarable commented on #49
I created an account but I'm not sure if it will help us. I now have my own Azure AD

[2018-11-27 13:55] michzimny commented on #49
I think it's rather usual in such cases that a service administrator (you as the admin of the SSO) creates such account at IdP to enable the service (our SSO) to work with that IdP...

[2018-11-27 13:56] foobarable commented on #49
Yes, but using an empty AD doesn't help us any bit. Looks like I need some reading.

[2018-11-27 14:10] foobarable commented on #49
Okay, I think we would have to integrate _each_ Office 365 instance to be able for them to authenticate.
They would need to create the AD OpenIDC application in their portal. It's one thing to integrate those authentication sources technically, but it will be not so easy from UI perspective.

[2018-11-27 14:44] michzimny commented on #49
My colleagues have also given me the following link. Maybe it helps a bit.
https://stackoverflow.com/questions/40088260/create-application-with-authenticates-against-o365-azure-ad-with-openidconnect

[2018-11-29 11:52] michzimny commented on #30
@Dimitrispant, could you please clarify the current status of this issue?

Am I right in thinking that the goal of this activity is to be able to enable SeLCont to be used as a standalone tool (i.e. without Moodle)? Or, are there also any other purposes behind this?

[2018-11-29 12:07] Dimitrispant commented on #30
@michzimny Exactly Michal. The goal of this activity is to enable SeLCont to be used as a standalone tool. If it is used with Moodle, LTI is just fine.

[2018-11-29 12:10] michzimny commented on #30
Ok, so, regarding improvements of the Toolbox, I think we should try to solve it out.

Is it an issue on the SSO side, or can it be on SeLCont's side?

[2018-11-29 12:14] Dimitrispant commented on #30
Regarding SelCont side, I have made the same configuration with the production instance (it works on the production instance). I will make some tests later today, just to make sure that it's not from SeLCont's test instance side (I had made tests when I opened this issue, but just to be absolutely sure about it) and I will write the results.

[2018-11-30 12:37] michzimny commented on #33
ping @foobarable

[2018-11-30 12:38] foobarable commented on #33
@michzimny Fine with me, but @m0ark has to agree as well

[2018-11-30 15:29] gtoffoli opened #50 "Register new test instance CommonSpaces at PSNC"
Base URL: https://cs.test.up2university.eu/
Metadata available at: https://cs.test.up2university.eu/saml2/metadata/

Hi, I made a new test deployment of the CommonS Platform (alias CommonSpaces).
It is hosted by the PSNC infrastructure.
Could you register it at the production instance of the Up2U SSO IdP?
Thanks!

(The metadata of the previous deployment, which will be shut down soon, are at https

[2018-12-10 14:46] michzimny commented on #33
ping @m0ark

[2018-12-12 10:20] gtoffoli commented on #50
It seems that the requested registration has been made. Thanks!

[2018-12-12 10:20] #50 closed

[2018-12-12 13:20] michzimny opened #51 "Cannot authenticate via EduGAIN"
User ends up with a blank page (at url: https://sso.up2university.eu/simplesaml/module.php/saml/sp/saml2-acs.php/sso) when trying to authenticate to the production SSO with EduGAIN. It has been checked by people from several countries/institutions, either new users or already existing accounts.

It works fine for the test SSO.

@foobarable is included in a mail thread regarding this issue.

[2018-12-12 14:18] foobarable commented on #51
Is this for one user or a general problem?

[2018-12-12 14:32] michzimny commented on #51
It seems to be general. Two users are complaining in the email thread, and EduGAIN neither works for me.

[2018-12-13 13:03] athird opened #52 "Cannot access Personal Recorder due to SAMEORIGIN setting"
Trying to access Personal Recorder from a Moodle text editor box via the Record button gives a blank frame and the following error in the browser console:

Refused to display 'https://sso.up2university.eu/simplesaml/module.php/multiauth/selectsource.php?AuthState=_BIG_HEX_NO%3Ahttps%3A%2F%2Fsso.up2university.eu%2Fsimplesaml%2Fsaml2%2Fidp%2FSSOService.php%3Fspentityid%3Dhttps%253A%252F%252Fpr-up2u.

[2019-01-07 14:14] foobarable commented on #51
It should work right now.

[2019-01-07 14:14] #51 closed

[2019-01-07 14:22] foobarable commented on #52
We can set other headers here. What headers do you need?

[2019-01-07 14:30] foobarable commented on #33
@michzimny  @m0ark  Says yes. Lets use your workarround then.

[2019-01-07 14:31] foobarable commented on #30
@Dimitrispant Hows the status here?

[2019-01-07 14:32] foobarable commented on #21
@moscicki We could try to use an ADFS endpoint. I can't promise that it will work though.

[2019-01-07 14:33] foobarable commented on #20
@ebocchi I will again talk to our LDAP guys.

[2019-01-07 14:35] #7 closed

[2019-01-08 10:07] Dimitrispant commented on #30
@foobarable I have sent you an email with some logs from the test instance.

[2019-01-08 11:46] foobarable commented on #21
Also: Once SimpleSamlPHP 1.17 is released we will have this patch included

[2019-01-08 18:12] ivanoterouvigo commented on #48
Hi @foobarable @michzimny,

We get again the same issue from Italian teachers

The error generated is always the same
(exception not menaged - or something like that-, tracking id b07fe95c8).

I received this error **on 7 of January** but the person who told me the error received the error **on 28 of December**.
So I am the third person in to receive this email.
This error happen in the test platf

[2019-01-09 08:37] foobarable commented on #48
We will have a look at it.

[2019-01-09 08:47] foobarable commented on #48
@ivanoterouvigo It looks like the problem is that multiple accounts with the same attributes exist, which we currently can not fix. Did you, by any means, register one account with a gmail address and then try to access the sso via google authentication?

[2019-01-09 08:50] foobarable commented on #48
Also, can you send me the mail-adresses of the teachers affected?

[2019-01-09 09:51] ivanoterouvigo commented on #48
Hi @foobarable, sorry I don't have your email, and you don't have your email on your profile.
Could you send me this information?

**_Situation 1)_** Related with this case **tracking id b07fe95c8**  yes there is multiple email for the same email account.
This is the case for the Italian teacher.

But the best workaround I suggest is:

If you login with Social Media, for example facebook and you l

[2019-01-09 11:02] gtoffoli opened #53 "Register production instance of CommonSpaces at Up2U SSO"
Base URL: https://cs.up2university.eu/
Metadata available at: https://cs.up2university.eu/saml2/metadata/

Hi, I made the production deployment of the CommonS Platform (alias CommonSpaces).
As well as the test version, now it is hosted by the PSNC infrastructure.
Could you register it at the production instance of the Up2U SSO IdP?
Thanks!

[2019-01-09 15:12] michzimny commented on #48
@foobarable, if this is a case that we cannot solved, then we need to do everything to prevent users from reaching such a state. For instance, by blocking the second authentication when the first account already exists.

[2019-01-09 15:16] michzimny commented on #5
@foobarable, could we have "EduGAIN" instead of "EduGAIn", and (minor, by the way) "URL" instead of "url"?

[2019-01-09 15:40] athird commented on #5
@michzimny @foobarable Actually, I've been meaning to ask about "EduGAIN" - can we have a different word/phrase entirely? How many people know what EduGAIN is? Maybe something like "Login with your school/university account" instead.

[2019-01-10 15:29] michzimny opened #54 "Web analytics"
Please add Matomo tracking code to all pages as documented here:
https://wiki.geant.org/display/UP2U/Web+Analytics

[2019-01-10 17:58] michzimny commented on #5
@athird has suggested "Login with your institution account via EduGAIN". I think it's better than the current wording. Could we please change it? And also the case as in my comments above. @foobarable ?

[2019-01-10 18:02] michzimny commented on #49
I was told that Ms Office 365 accounts can be self-hosted somehow (via the AD?) or used in SaaS model. In the former case, admins have also an option to export local user accoutns to the central instance (https://docs.microsoft.com/en-us/office365/enterprise/office-365-integration).

So, I think we can ignore local AD, and just enable authentication against central Office 365. Then, if local admin

[2019-01-11 12:10] foobarable commented on #54
Will just use it for production instance. It will be included on the next deploy.

[2019-01-11 12:10] foobarable commented on #53
Well be included on the next deploy.

[2019-01-11 12:14] foobarable commented on #48
We have this logic already implemented. We first perform an LDAP search and check, if the user is already present. But in this case, the LDAP search returned an error which triggered our logic (correctly) to create a new account. We still investigate what the problem with the ldap search was.

[2019-01-11 13:54] michzimny commented on #48
Thanks for this update. Is the logic correct that it allows to create an account once it knows that there is an error with the backend ldap (i.e. the search query failed)?

[2019-01-11 14:10] foobarable commented on #48
The search query didn't fail, it returned with "no such user". But the user was there. We currently think it was a replication issue. But can't say for sure.

[2019-01-23 16:23] michzimny commented on #15
ping @foobarable

[2019-01-24 09:15] foobarable commented on #15
@michzimny We rewrite this module currently since it is not really well written. This is why we don't want to put any effort in the old module.

[2019-01-24 09:30] michzimny commented on #15
Ok, thanks for the update. Could you please try to specify a timeline regarding this new module? The capability to change or reset user password is quite crucial.

[2019-01-29 14:17] gtoffoli commented on #53
Could I know when is the next deploy scheduled? Thanks.

[2019-01-29 14:21] foobarable commented on #53
I can trigger it tomorrow morning at 9am CEST. There should be now downtime for the service.

[2019-01-30 11:54] michzimny commented on #54
@foobarable, when could you plan the next deploy? Is it feasible to do it within two weeks from now?

[2019-01-30 13:17] michzimny commented on #54
Will it cause any longer downtimes? If not, we can do it now.

Any other changes to be included in the deployment? If so, then please book some time after the deployment in case anything goes wrong.

[2019-01-30 13:39] foobarable commented on #53
@gtoffoli Done

[2019-01-30 13:40] foobarable commented on #54
No, no longer downtime. It's deployed. Can you check if it works?

[2019-01-30 14:07] michzimny commented on #54
It's fine. Thanks.

[2019-01-30 14:07] #54 closed

[2019-02-04 06:35] m0ark commented on #15
The updated account management module is scheduled for february.

[2019-02-08 08:53] ivanoterouvigo commented on #48
Hi everyone,
@michzimny , @foobarable

I met yesterday with a Spanish teacher in order to help him with the moodle platform.
I told him to login here. learn.up2university.eu **(MPP)**
Here you are.

![error_sso_emilio_v000-pixel](https://user-images.githubusercontent.com/11814769/52467628-80524c80-2b86-11e9-8260-f8c7262e9f65.png)

![error_sso_emilio_v001-pixel](https://user-images.githubuserconten

[2019-02-11 12:45] foobarable commented on #48
Should be fixed for now. Please tell me if you experience similar issues again.

[2019-02-11 12:45] #48 closed

[2019-02-11 22:34] michzimny commented on #49
@foobarable, would you be able to investigate feasibility of that approach mentioned in my last comment?

[2019-02-26 08:50] foobarable opened #55 "Include privacy notice"
[Up2U Project - Privacy Notice_22.02.2019.docx](https://github.com/up2university/single-sign-on/files/2904530/Up2U.Project.-.Privacy.Notice_22.02.2019.docx)

[2019-02-26 13:04] foobarable commented on #55
Document will be hosted centrally. Just link needed.

[2019-02-27 09:16] michzimny commented on #55
https://up2university.eu/wp-content/uploads/2019/02/privacy-notice.pdf

[2019-03-07 11:20] michzimny commented on #55
https://cdn.test.up2university.eu/docs/privacy-notice.pdf

[2019-03-07 11:21] michzimny commented on #43
Guys, what is the status of this issue?

[2019-03-07 11:21] michzimny commented on #15
@m0ark, what is the current status?

[2019-03-07 11:21] michzimny commented on #6
ping

[2019-03-08 07:29] foobarable commented on #55
@michzimny  The test domain is correct?

[2019-03-08 07:29] #53 closed

[2019-03-08 07:30] #47 closed

[2019-03-08 07:30] foobarable commented on #43
The issue will be fixed with the new account register module. (See #15)

[2019-03-08 07:31] foobarable commented on #20
@ebocchi This is not required anymore, iirc?

[2019-03-08 07:32] foobarable commented on #15
@michzimny The module is finished, we don't have a theme and translation for it yet.

[2019-03-08 08:06] ebocchi commented on #20
@foobarable In fact, this is still badly needed. What we have in place now is a horrible workaround.

[2019-03-08 08:14] ebocchi commented on #20
@diocas
@moscicki

[2019-03-08 10:44] michzimny commented on #55
Yes.

[2019-03-08 10:46] michzimny commented on #15
How much time might it take to finalise this?

[2019-03-19 09:31] Dimitrispant opened #56 "Cannot authenticate via gmail"
@foobarable One of our teachers told us that when his students try to sign-in with gmail accounts, they end up with a blank page when trying to authenticate to the production SSO with Gmail. Only one out of six students, had successfully authenticated via Gmail. Unfortunately, I tried to reproduce the same error but I managed to sign-in successfully.

[2019-03-19 09:41] foobarable commented on #56
@Dimitrispant Please send the mail-adresses of the students to me (in an email please) so we can have a look.

[2019-03-29 10:35] michzimny commented on #55
@foobarable, I don't know if you know that, but there are also privacy notices in national languages being prepared: https://wiki.geant.org/display/UP2U/Privacy+notice
So, we need to look for a place to put them all in the SSO page.

[2019-03-29 10:36] michzimny commented on #15
ping @foobarable

[2019-03-29 10:42] foobarable commented on #55
@michzimny If we use a good naming scheme we can link the anchor to the correct notice in the language that is currently chosen in the ui.

[2019-03-29 10:55] foobarable commented on #15
@michzimny We are currently having issues with having to migrate the translation backend to gettext for the new UI and need a concept which is compatible with both the old backend you know and the new one.

https://github.com/simplesamlphp/simplesamlphp/wiki/Migrating-translation-in-Twig

[2019-03-29 13:02] michzimny commented on #55
I think it would be fine.

[2019-04-09 08:54] michzimny commented on #55
Ok, could you please do so with the language-specific privacy notices? I think it's urgent.

[2019-04-17 08:03] michzimny commented on #55
ping @foobarable

[2019-04-17 08:18] m0ark commented on #55
@michzimny I will implement your requested change. The final URL will be https://cdn.test.up2university.eu/docs/privacy-notice-[language-abbreviation].pdf
e.g.
https://cdn.test.up2university.eu/docs/privacy-notice-en.pdf

Since we cannot know whether this file exists or not, you have to make sure that there is one for each language selectable.

Currently we support:
[code]

[2019-04-17 09:36] michzimny commented on #55
Ok, I will put a redirection to english for non-existing languages.

[2019-04-17 09:40] m0ark commented on #55
It's already implemented in the staging environment. Please have a look at it if this is what you are looking for.
After confirmation I will also deploy this into production.

[2019-04-17 09:46] michzimny commented on #55
Please set `target="_blank"` for this link.

[2019-04-17 09:49] m0ark commented on #55
Done.

[2019-04-17 09:50] michzimny commented on #55
Ok, so I think it works now as needed. Please deploy into production.

[2019-04-17 10:42] m0ark commented on #55
It's deployed in production, too.

[2019-04-17 10:50] michzimny commented on #55
Thanks.

[2019-04-17 10:50] #55 closed, assigned to nobody

[2019-05-06 17:38] gtoffoli opened #57 "Does the Up2U SSO IdP assign a unique ID to users, irrespective of the authentication option?"
Does the Up2U SSO IdP assign a unique ID to users accessing the NGDLE tools, irrespective of the authentication option chosen?
More verbosely: it isn't clear to me what is the role of the Up2U SSO IdP, when in the screen with the header "Welcome Select an authentication source", the user selects "Federated Login" (Login with EduGain) or "Social Network Login". Does, even in these cases, the Up2U I

[2019-05-07 06:37] foobarable commented on #57
Yes. we habe a unique id which is the SAML field uid.  What we currently cannot do is merge accounts if one registers with e.g. with a gmail address in the selfregister function and then tries to login via google login. This will fail. For anything else we have a field which is unique for all users.

[2019-05-07 06:38] m0ark commented on #57
Up2U SSO is used as a community gateway which establishes homogeneous accounts for all users.
Every user is assigned a unique ID which (in addition to all other attributes) will be promoted to all eligible services (NGDLE tools) on user access.

[2019-05-07 08:07] gtoffoli commented on #57
@foobarable @m0ark Many thanks for your comprehensive answers!

[2019-05-07 08:07] #57 closed, assigned to nobody

[2019-06-19 08:08] dvabad opened #58 "After unsuccessful authentication, it is not possible to see the log in page again"
Once authentication by "login with edugain" option fails, it is not possible to see the login page again,  but this issue occurs in every attempt:

----SAML2 exception: Responder: SimpleSAML_Error_Exception: This service needs at least one of the following attributes to identity users: eduPersonTargetedID, uid. Unfortunately not one of them was detected. Please ask your institution administrator t

[2019-08-19 06:14] dvabad opened #59 "Authentication option with gmail account fails (not all accounts)"
Authentication with Gmail option fails for some accounts, not all accounts.
The error: SAML2 exception: Responder: SimpleSAML_Error_Error: serviceaccount:ACCOUNTCREATION

[2019-08-19 06:57] dvabad opened #60 "Authentication with twitter has missing attributes"
After authentication with twitter, a blank page is returned.

[2019-08-19 07:32] foobarable commented on #60
We will have a look at it. We didn't change anything so maybe something on twitter side changed.

[2019-09-04 08:16] Dimitrispant opened #61 "Authentication issues with Gmail and Other mail accounts"
@foobarable I experiecning some issues with Gmail authentication. When a user registers with a Gmail Account, the account could not be created. This is a tracking number of this issue: 43dee87fdd

I have also the same issue when I try to register with other email (with idP) I have an unhandled exception. This is the tracking number of this issue: c69d64dad7

I tried to both production and test ins

[2019-09-17 11:01] Dimitrispant opened #62 "Error with existing user sign-in"
Dear All,

A participant in our CPD course, informed us, that when she tried to sign in with Up2UID, she experienced this error:
![image](https://user-images.githubusercontent.com/13375110/65036151-74680d80-d953-11e9-81d0-600f6cf5778e.png)

We tried to get an error code, but no luck.

@foobarable can you check it out?

[2019-09-17 11:03] foobarable commented on #62
@Dimitrispant Interesting. Can you email me the user affected and a time she tried?

[2019-09-17 11:15] Dimitrispant commented on #62
@foobarable I just sent you an email with these info! Please confirm that you have received them

[2019-10-03 10:11] gtoffoli opened #63 "Since yesterday CS clients fail to verify the IdP certificate"
Hi, after several months of normal operation, suddenly (since yesterday afternoon) and simultaneously both CommonSpaces clients fail to do the handshake with the production instance of the IdP. This happens both when the IdP periodically interrogates the clients (every hour), and when a user tries to do the SSO login.

I assume that something has changed in the software or configuration of the IdP

[2019-10-03 23:08] gtoffoli commented on #63
Now, following the suggestion in https://github.com/IdentityPython/pysaml2/issues/513 , I have set the global parameter _disable_ssl_certificate_validation_ in the configuration of the pysaml2 package (see https://searchcode.com/file/98508865/src/saml2/config.py).

As a result my django application no more notifies me system errors, but the user trying to do an SSO login gets a **Metadata not foun

[2019-10-04 07:55] foobarable commented on #63
Hi, the certificate expired so we implemented a certificate rollover last week. Let me check if everthing is in order. Another reason could be, that the rollover procedure, which needs 2 certificates active in the metadata at the same time, is not correctly implmented in the service provider. But let me check IDP side first

[2019-10-07 09:27] foobarable commented on #63
@gtoffoli Do you still have your problems or do you have the new certificate in your SP now?

[2019-10-07 17:09] gtoffoli commented on #63
@foobarable No problems. Now it seems that SSO authentication for CS is working again. I didn't have to make any changes. Thank you!

[2019-10-25 10:00] michzimny opened #64 "Monitoring services behind SSO"
It has been happening from time to time that some services behind SSO (like IdM) were down or worked inproperly (thus users were unable to log in or only to register new accounts). In such cases, problems were reported by users and then fixed after some time.

Healthness monitoring of the underlying services is needed, so GWDG team can react on their own whenever problems occur. We'd like to have

[2019-10-31 12:56] michzimny opened #65 "GDPR consents, KWS integration"

[2019-12-04 09:23] michzimny opened #66 "EduGAIN should not be the first option"
EduGAIN should not be the first option for schools. It should be rather the last one.

[2019-12-04 09:32] Dimitrispant opened #67 "Register Here link (for the Up2UID) should be more clear"
Register Here link (for the UP2UID) should be more clear. Most of the users complain that they cannot see this field (maybe we have to create a new field for this link)

[2019-12-04 09:34] Dimitrispant opened #68 "Users with Gmail account are trying to sign-in with UP2UID"
Users with gmail account should be discouraged to sign with UP2UID (maybe a check at the registration form for the Up2U ID would be fine).

[2019-12-04 09:37] Dimitrispant opened #69 "Check if a user has already registered with UP2UID"
A check should be provided if the user has already registered with the UP2UID (some users despite the fact that they have already registered with Up2UID, they still go to the registration form)

[2019-12-09 16:23] michzimny commented on #66
We need to discuss it internally first.

[2019-12-09 16:23] #66 closed, assigned to nobody

[2019-12-09 16:24] Dimitrispant opened #70 "EduGAIN Internal Error"
@foobarable

It seems that there is an internal error when a user tries to sign-in with eduGAIN in the production instance of the Up2U Learning Platform.

![image](https://user-images.githubusercontent.com/13375110/70453202-0bef7f00-1ab1-11ea-8655-3f1cb773f818.png)

[2020-01-21 13:01] michzimny opened #71 "Cannot log in after changing password"
Also described in email "Problem in the login".

Students who experience the problem already had an account on Up2U platform and they recently changed their password to login. The system seems to register the new password as the one valid, but then it gives this error as students use the new password to login.

[2020-02-07 16:19] michzimny opened #72 "SSO is unavailable"
Time out on TCP connection.

Please check.

CC @gtoffoli

[2020-02-07 16:32] foobarable commented on #72
I cannot confirm, seems to work from here.

Am 07.02.2020 um 17:19 schrieb Michał Zimniewicz:

[2020-02-07 22:32] michzimny commented on #72
It works now.

[2020-02-07 22:32] #72 closed, assigned to foobarable, m0ark